<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content id="formPost">
  <form class="form-register" #f="ngForm" (ngSubmit)="f.form.valid&&changePassword()" novalidate>
    <mat-error class="alert alert-primary">{{status}}
    </mat-error>

    <!-- current pass -->
    <mat-form-field style="width: 350px" appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input name="currentPassword" matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="form.currentPassword" #currentPassword="ngModel" required minlength="6" maxlength="100" >
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="currentPassword.hasError('required')">The password is required</mat-error>
      <mat-error *ngIf="currentPassword.hasError('minlength')">The password must more than 5 character</mat-error>
    </mat-form-field><br>
<!--    new password-->
    <mat-form-field
      style="width: 350px" appearance="outline">
      <mat-label>Enter your rePassword</mat-label>
      <input name="newPassword"  matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="form.newPassword" #newPassword="ngModel" required minlength="6" maxlength="100" >
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="newPassword.hasError('required')">The password is required</mat-error>
      <mat-error *ngIf="newPassword.hasError('minlength')">The password must more than 5 character</mat-error>

    </mat-form-field><br>
<!--    confirmNewPassword-->
    <mat-form-field
      style="width: 350px" appearance="outline">
      <mat-label>Enter your rePassword</mat-label>
      <input name="confirmNewPassword"  matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="form.confirmNewPassword" #confirmNewPassword="ngModel" required minlength="6" maxlength="100" >
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="confirmNewPassword.hasError('required')">The password is required</mat-error>
      <mat-error *ngIf="confirmNewPassword.hasError('minlength')">The password must more than 5 character</mat-error>

    </mat-form-field><br>
    <button mat-stroked-button color="accent" type="submit" class="mat-button-toggle-group btn-outline-success" >Register
      <mat-icon color="accent" matSuffix>add_circle</mat-icon>
    </button>
  </form>

</div>
