<h1 mat-dialog-title>Create Post</h1>
<div mat-dialog-content id="formPost">
  <form [formGroup]="formPost" (ngSubmit)="createPost()" class="example-form ">
    <mat-form-field appearance="legacy" class="example-full-width">
      <mat-error *ngIf="formPost.get('title')?.invalid
        && formPost.get('title')?.touched">Not blank</mat-error>
      <mat-label>Title</mat-label>
      <input matInput placeholder="Placeholder" formControlName="title">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="example-full-width">
      <mat-label>Content</mat-label>
      <input matInput placeholder="Placeholder" formControlName="content">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="example-full-width">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Placeholder" formControlName="description">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="example-full-width">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let s of status" value="{{s.id}}">
          {{ s.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="legacy" class="example-full-width">
      <mat-label>Hashtag</mat-label>
      <mat-select formControlName="hashTags">
        <mat-option *ngFor="let h of hashtags" value="{{h.id}}">
          {{ h.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <label><h4>Image</h4></label>
      <input type="file"
             id="file"
             #userPhoto
             (change)="onFileSelected($event)"
             name="image"
             autocomplete="off"
      />
      <img [src]="fb" alt="Chưa chọn ảnh" style="width: 100px; height: 100px; border-radius: 100%">
    </div>
    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close>Close</button>
      <button mat-raised-button color="primary" style="margin-left: 8px"
              [disabled]="fb == ''">Save</button>
    </div>
  </form>

</div>
