<link rel="stylesheet" href="user1.component.css">
<header class="header text-center" id="sidebar">
  <h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="index.html">{{user.userName}}</a></h1>

  <nav class="navbar navbar-expand-lg navbar-dark">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navigation" class="collapse navbar-collapse flex-column">
      <div class="profile-section pt-3 pt-lg-0" *ngIf="user.avatar">
        <img class="profile-image mb-3 rounded-circle mx-auto" src="{{user.avatar}}" alt="image">
        <div class="bio mb-3">{{user.email}}<br><a href="about.html">Find out more about me</a></div><!--//bio-->
        <hr>
      </div>
      <div class="profile-section pt-3 pt-lg-0" *ngIf="!user.avatar">
        <img class="profile-image mb-3 rounded-circle mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:A
        Nd9GcQh1P9TAoNMky_yAnynlY7_3jJ6N8kYfYPYWw&usqp=CAU" alt="image">
        <div class="bio mb-3">{{user.email}}<br>
          <!--          <a href="about.html">Find out more about me</a>-->
        </div>
        <!--//bio-->
        <hr>
      </div>
      <!--//profile-section-->

      <ul class="navbar-nav flex-column text-start">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home"><i class="fas fa-home fa-fw me-2"></i>Blog Home <span
            class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog-post.html"><i class="fas fa-bookmark fa-fw me-2"></i>Blog Post</a>
        </li>
        <li class="nav-item">
          <a (click)="getUser()" class="nav-link nav-link-faded has-icon" data-bs-toggle="modal"
             data-bs-target="#myModal3"><i class="fas fa-user fa-fw me-2"></i>About Me</a>
        </li>
        <li class="nav-item">
          <a (click)="openDialogPassword()" class="nav-link nav-link-faded has-icon"><i
            class="fas fa-user fa-fw me-2"></i>Change Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login"><i class="fas fa-external-link-alt"></i> Logout</a>
        </li>
      </ul>

      <!--      <div class="my-2 my-md-3">-->
      <!--        <a class="btn btn-primary" href="https://themes.3rdwavemedia.com/" target="_blank">Get in Touch</a>-->
      <!--      </div>-->
    </div>
  </nav>
</header>

<div class="main-wrapper">

  <section class="cta-section theme-bg-light py-5">
    <div class="container text-center single-col-max-width">
      <h3 class="heading">Developer's Blog</h3>
      <!--      <div class="intro">Welcome to our blog. Subscribe and get our latest blog post</div>-->
      <!--      <div class="single-form-max-width pt-3 mx-auto">-->
      <!--      </div>-->
      <!--//single-form-max-width-->
    </div><!--//container-->
  </section>

  <section class="blog-list px-3 py-5 p-md-5">
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="post title" #input>
      </mat-form-field>
      <div style="margin-left: 50px" style="float: right">
        <button class="btn btn-dark has-icon" type="button" data-toggle="modal"
                data-target="#threadModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="feather feather-plus mr-2">
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
          </svg>
          <a (click)="openDialogPost()">New Discussion</a>
        </button>
        <div class="dropdown" style="margin-left: 20px">
          <button class="btn dropbtn btn-dark">Filter</button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort id="matTable">

          <!-- ID Column -->
          <!--        <ng-container matColumnDef="id">-->
          <!--          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>-->
          <!--          <td mat-cell *matCellDef="let row"> {{row.id}} </td>-->
          <!--        </ng-container>-->

          <!--        image-->
          <ng-container matColumnDef="avatarPost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="avatarPost">Image</th>
            <td mat-cell *matCellDef="let row">
              <img src="{{row.avatarPost}}" alt="" style="height: 90px; width: 90px">
            </td>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Titile</th>
            <td mat-cell *matCellDef="let row"> {{row.title}}</td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
            <td mat-cell *matCellDef="let row">
              <button (click)="editPost(row)" mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
              </button>
              <button (click)="deletePost(row.id)" mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>

  </section>

  <!--        view profile-->
  <div class="modal" id="myModal3">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h1 class="modal-title">PROFILE</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" id="div-profile">
          <!--        Commnent-->
          <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
              <div class="col-md-3 border-right">
                <!--                      <div class="d-flex flex-column align-items-center text-center p-3 py-5" ><img-->
                <!--                        class="rounded-circle mt-5" width="150px"-->
                <!--                        src="{{user.avatar}}" alt="chua co anh"><span-->
                <!--                        class="font-weight-bold">{{user.email}}</span><span> </span>-->
                <!--                      </div>-->
                <div class="d-flex flex-column align-items-center text-center p-3 py-5" *ngIf="user.avatar"><img
                  class="rounded-circle mt-5" width="150px"
                  src="{{user.avatar}}" alt="chua co anh"><span
                  class="font-weight-bold">{{user.email}}</span><span> </span>
                </div>
                <div class="d-flex flex-column align-items-center text-center p-3 py-5" *ngIf="!user.avatar"><img
                  class="rounded-circle mt-5" width="150px"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQh1P9TAoNMky_yAnynlY7_3jJ6N8kYfYPYWw&usqp=CAU"><span
                  class="font-weight-bold">{{user.email}}</span><span> </span>
                </div>
                <div *ngIf="!checkChangeAvatar">
                  <a (click)="changeAvatar()">Change Avatar</a>
                </div>
                <div *ngIf="checkChangeAvatar">
                  <form [formGroup]="formChangeAvatar" (ngSubmit)="changeAvatar1()" class="example-form ">
                    <div>
                      <label><h4>Image</h4></label>
                      <input type="file"
                             id="file"
                             #userPhoto
                             (change)="onFileSelected($event)"
                             name="image"
                             autocomplete="off"
                      />
                    </div>
                    <button mat-raised-button color="secondary" style="margin-left: 8px">Save</button>
                  </form>
                </div>

              </div>
              <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                  </div>
                  <form action="" [formGroup]="formChangeProfile" (ngSubmit)="changeProfile()">
                    <div class="row mt-3">
                      <div class="col-md-12"><label class="labels">Full name</label><input type="text"
                                                                                           formControlName="fullName"
                                                                                           class="form-control"
                                                                                           [value]="user.fullName">
                      </div>
                      <div class="col-md-12"><label class="labels">UserName</label><input type="text"
                                                                                          readonly="readonly"
                                                                                          class="form-control"
                                                                                          value="{{user.userName}}">
                      </div>
                      <div class="col-md-12"><label class="labels">Email</label><input type="text"
                                                                                       formControlName="email"
                                                                                       class="form-control"
                                                                                       value="{{user.email}}"></div>
                      <div class="col-md-12"><label class="labels">Address</label><input type="text"
                                                                                         formControlName="address"
                                                                                         class="form-control"
                                                                                         value="{{user.address}}"></div>
                      <div class="col-md-12"><label class="labels">Phone Number</label><input type="text"
                                                                                              formControlName="phone"
                                                                                              class="form-control"
                                                                                              value="{{user.phone}}">
                      </div>

                    </div>
                    <div class="mt-5 text-center">
                      <button class="btn btn-dark profile-button" type="submit">Save Profile</button>
                    </div>
                  </form>
                </div>
              </div>
              <!--              <div class="col-md-4">-->
              <!--                <div class="p-3 py-5">-->
              <!--                  <div class="d-flex justify-content-between align-items-center experience">-->
              <!--                    <span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i-->
              <!--                    class="fa fa-plus"></i>&nbsp;Experience</span></div>-->
              <!--                  <br>-->
              <!--                  <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text"-->
              <!--                                                                                                     class="form-control"-->
              <!--                                                                                                     placeholder="experience"-->
              <!--                                                                                                     value="">-->
              <!--                  </div>-->
              <!--                  <br>-->
              <!--                  <div class="col-md-12"><label class="labels">Additional Details</label><input type="text"-->
              <!--                                                                                                class="form-control"-->
              <!--                                                                                                placeholder="additional details"-->
              <!--                                                                                                value=""></div>-->
              <!--                </div>-->
              <!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--        /view profile-->

</div><!--//main-wrapper-->
