<link rel="stylesheet" href="login.component.css">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="header">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Developer' Blog |</a>
    <ul class="navbar-nav me-auto">
      <h3 style="color: white;margin: auto">Login</h3>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12" id="login_form">
      <form class="form-login" #f="ngForm" (ngSubmit)="f.form.valid &&ngSubmit()" novalidate>
        <mat-error *ngIf="!isLoginFailed" class="alert">{{status}}</mat-error>
        <mat-error *ngIf="f.submitted&&isLoginFailed" class="alert alert-danger">{{status}}</mat-error>
        <mat-form-field style="width: 350px" appearance="outline">
          <mat-label>Username</mat-label>
          <input name="username" [(ngModel)]="form.username" #username="ngModel" matInput required minlength="3"
                 maxlength="50">
          <mat-icon color="secondary" matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="username.hasError('required')">The username is required</mat-error>
          <mat-error *ngIf="username.hasError('minlength')">The username must more than 2 character</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 350px" appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="form.password"
                 #password="ngModel" required minlength="6" maxlength="100">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon color="secondary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
          <mat-error *ngIf="password.hasError('minlength')">Password must more than 5 character</mat-error>
        </mat-form-field>
        <br>
        <button type="submit" mat-stroked-button class="mat-button-toggle-group btn-outline-success" id="login-button">Login
          <mat-icon color="secondary" matSuffix>arrow_right_alt</mat-icon>
        </button>
      </form>
    </div>
  </div>
</div>

