<!--Main-->
<div class="row" id="row">
  <div class="col-sm-2 post">
    <img src="../../assets/image/avatar1.png" height="150" width="150" class="image_post"/>
    <h5 class="title"><a href="" data-bs-toggle="modal" data-bs-target="#myModal3">How to become to a good deverloper</a></h5>
    <p class="note">02/02/2002 <br>
      Username</p>
  </div>
  <div class="col-sm-2 post">
    <img src="../../assets/image/avatar1.png" height="150" width="150" class="image_post"/>
    <h5 class="title"><a href="" data-bs-toggle="modal" data-bs-target="#myModal3">Title</a></h5>
    <p class="note">02/02/2002 <br>
      Username</p>
  </div>
  <div class="col-sm-2 post">
    <img src="../../assets/image/avatar1.png" height="150" width="150" class="image_post"/>
    <h5 class="title"><a href="" data-bs-toggle="modal" data-bs-target="#myModal3">Title</a></h5>
    <p class="note">02/02/2002 <br>
      Username</p>
  </div>
  <div class="col-sm-2 post">
    <img src="../../assets/image/avatar1.png" height="150" width="150" class="image_post"/>
    <h5 class="title"><a href="" data-bs-toggle="modal" data-bs-target="#myModal3">Title</a></h5>
    <p class="note">02/02/2002 <br>
      Username</p>
  </div>
  <div class="col-sm-2 post">
    <img src="../../assets/image/avatar1.png" height="150" width="150" class="image_post"/>
    <h5 class="title"><a href="" data-bs-toggle="modal" data-bs-target="#myModal3">Title</a></h5>
    <p class="note">02/02/2002 <br>
      Username</p>
  </div>
  <div class="col-sm-2 post">
    <img src="../../assets/image/avatar1.png" height="150" width="150" class="image_post"/>
    <h5 class="title"><a href="" data-bs-toggle="modal" data-bs-target="#myModal3">Title</a></h5>
    <p class="note">02/02/2002 <br>
      Username</p>
  </div>
  <div class="col-sm-2 post">
    <img src="../../assets/image/avatar1.png" height="150" width="150" class="image_post"/>
    <h5 class="title"><a href="" data-bs-toggle="modal" data-bs-target="#myModal3">Title</a></h5>
    <p class="note">02/02/2002 <br>
      Username</p>
  </div>
  <div class="col-sm-2 post">
    <img src="../../assets/image/avatar1.png" height="150" width="150" class="image_post"/>
    <h5 class="title"><a href="" data-bs-toggle="modal" data-bs-target="#myModal3">Title</a></h5>
    <p class="note">02/02/2002 <br>
      Username</p>
  </div>
  <div class="col-sm-2 post">
    <img src="../../assets/image/avatar1.png" height="150" width="150" class="image_post"/>
    <h5 class="title"><a href="" data-bs-toggle="modal" data-bs-target="#myModal3">Title</a></h5>
    <p class="note">02/02/2002 <br>
      Username</p>
  </div>
  <div class="col-sm-2 post">
    <img src="../../assets/image/avatar1.png" height="150" width="150" class="image_post"/>
    <h5 class="title"><a href="" data-bs-toggle="modal" data-bs-target="#myModal3">Title</a></h5>
    <p class="note">02/02/2002 <br>
      Username</p>
  </div>
  <div class="col-sm-2 post">
    <img src="../../assets/image/avatar1.png" height="150" width="150" class="image_post"/>
    <h5 class="title"><a href="" data-bs-toggle="modal" data-bs-target="#myModal3">Title</a></h5>
    <p class="note">02/02/2002 <br>
      Username</p>
  </div>
  <div class="col-sm-2 post">
    <img src="../../assets/image/avatar1.png" height="150" width="150" class="image_post"/>
    <h5 class="title"><a href="" data-bs-toggle="modal" data-bs-target="#myModal3">Title</a></h5>
    <p class="note">02/02/2002 <br>
      Username</p>
  </div>
  <div class="col-sm-2 post">
    <img src="../../assets/image/avatar1.png" height="150" width="150" class="image_post"/>
    <h5 class="title"><a href="" data-bs-toggle="modal" data-bs-target="#myModal3">Title</a></h5>
    <p class="note">02/02/2002 <br>
      Username</p>
  </div>
  <div class="col-sm-2 post">
    <img src="../../assets/image/avatar1.png" height="150" width="150" class="image_post"/>
    <h5 class="title"><a href="" data-bs-toggle="modal" data-bs-target="#myModal3">Title</a></h5>
    <p class="note">02/02/2002 <br>
      Username</p>
  </div>
  <div class="col-sm-2 post">
    <img src="../../assets/image/avatar1.png" height="150" width="150" class="image_post"/>
    <h5 class="title"><a href="" data-bs-toggle="modal" data-bs-target="#myModal3">Title</a></h5>
    <p class="note">02/02/2002 <br>
      Username</p>
  </div>
  <div class="col-sm-2 post">
    <img src="../../assets/image/avatar1.png" height="150" width="150" class="image_post"/>
    <h5 class="title"><a href="" data-bs-toggle="modal" data-bs-target="#myModal3">Title</a></h5>
    <p class="note">02/02/2002 <br>
      Username</p>
  </div>
  <div class="col-sm-2 post">
    <img src="../../assets/image/avatar1.png" height="150" width="150" class="image_post"/>
    <h5 class="title"><a href="" data-bs-toggle="modal" data-bs-target="#myModal3">Title</a></h5>
    <p class="note">02/02/2002 <br>
      Username</p>
  </div>
  <div class="col-sm-2 post">
    <img src="../../assets/image/avatar1.png" height="150" width="150" class="image_post"/>
    <h5 class="title"><a href="" data-bs-toggle="modal" data-bs-target="#myModal3">Title</a></h5>
    <p class="note">02/02/2002 <br>
      Username</p>
  </div>

</div>

<!--Content-->
<div class="modal" id="myModal3">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">How to become to a good developer</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>Main Content</p>
        <p>Main Content</p>
        <p>Main Content</p>
        <p>Main Content</p>
        <p>Main Content</p>
        <p>Main Content</p>
        <p>Main Content</p>
        <p>Main Content</p>
        <p>Main Content</p>
        <p>Main Content</p>
        <hr>
        <!--        Commnent-->
        <div class="container mt-5">
          <div class="row d-flex justify-content-center">
            <form action="">
              <div class="mb-3 mt-3">
                <label for="comment">Comments:</label>
                <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
              </div>
              <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
            <div class="col-md-8">
              <div class="headings d-flex justify-content-between align-items-center mb-3">
                <h5>Unread comments(6)</h5>
                <!--                <div class="buttons"> <span class="badge bg-white d-flex flex-row align-items-center"> <span class="text-primary">Comments "ON"</span>-->
                <!--                        <div class="form-check form-switch"> <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked> </div>-->
                <!--                    </span> </div>-->
              </div>
              <div class="card p-3">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="user d-flex flex-row align-items-center"> <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">james_olesenn</small> <small class="font-weight-bold">Hmm, This poster looks cool</small></span> </div> <small>2 days ago</small>
                </div>
                <div class="action d-flex justify-content-between mt-2 align-items-center">
                  <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                  <div class="icons align-items-center"> <i class="fa fa-star text-warning"></i> <i class="fa fa-check-circle-o check-icon"></i> </div>
                </div>
              </div>
              <div class="card p-3 mt-2">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="user d-flex flex-row align-items-center"> <img src="https://i.imgur.com/C4egmYM.jpg" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">olan_sams</small> <small class="font-weight-bold">Loving your work and profile! </small></span> </div> <small>3 days ago</small>
                </div>
                <div class="action d-flex justify-content-between mt-2 align-items-center">
                  <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                  <div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
                </div>
              </div>
              <div class="card p-3 mt-2">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="user d-flex flex-row align-items-center"> <img src="https://i.imgur.com/0LKZQYM.jpg" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">rashida_jones</small> <small class="font-weight-bold">Really cool Which filter are you using? </small></span> </div> <small>3 days ago</small>
                </div>
                <div class="action d-flex justify-content-between mt-2 align-items-center">
                  <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                  <div class="icons align-items-center"> <i class="fa fa-user-plus text-muted"></i> <i class="fa fa-star-o text-muted"></i> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
                </div>
              </div>
              <div class="card p-3 mt-2">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="user d-flex flex-row align-items-center"> <img src="https://i.imgur.com/ZSkeqnd.jpg" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">simona_rnasi</small> <small class="font-weight-bold text-primary">@macky_lones</small> <small class="font-weight-bold text-primary">@rashida_jones</small> <small class="font-weight-bold">Thanks </small></span> </div> <small>3 days ago</small>
                </div>
                <div class="action d-flex justify-content-between mt-2 align-items-center">
                  <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                  <div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <!--      <div class="modal-footer">-->
      <!--        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>-->
      <!--      </div>-->

    </div>
  </div>
</div>
